stages:
  - deploy

deploy-to-gcp:
  stage: deploy
  image: google/cloud-sdk:alpine
  
  variables:
    IMAGE_TAG: $CI_COMMIT_SHORT_SHA
  
  before_script:
    - echo $GCP_SERVICE_ACCOUNT_KEY > ${CI_PROJECT_DIR}/gcp-key.json
    - gcloud auth activate-service-account --key-file ${CI_PROJECT_DIR}/gcp-key.json
    - gcloud config set project $GCP_PROJECT_ID
    - gcloud config set compute/region $GCP_REGION
  
  script:
    - |
      gcloud builds submit \
        --tag gcr.io/$GCP_PROJECT_ID/$IMAGE_NAME:$IMAGE_TAG \
        --tag gcr.io/$GCP_PROJECT_ID/$IMAGE_NAME:latest \
        --timeout=20m \
        .
  
  after_script:
    - rm -f ${CI_PROJECT_DIR}/gcp-key.json
  
  only:
    - main
